*{
    margin: 0;
    padding: 0;
}
.logo{
  font-size: 28px;
}
.container2{

  text-align: right;
}
.text{
  background-image: url(./mac.jpg);
}
.text2{
  font-size: 38px;
}
/* dalshe  */


.container3{
  padding: 128px 16px;
  text-align: center;
}
.text3{
  font-size: 24px;
  margin: 10px 0px;

}
.one{
  margin-top: 150px;
  width: 300px;
  color: black;
  font-size: 15px;
  padding: 0px 8px;
}
.znachok{
  margin-top: -155px;
  font-size: 65px;
}
.two{
  margin-top: 100px;
  width: 300px;
  color: black;
  font-size: 15px;
  padding: 0px 8px;
  margin-left: 320px;
}
.znachok2{
  margin-top: -175px;
  font-size: 65px;
}
.thre{
  margin-top: 100px;
  width: 300px;
  color: black;
  font-size: 15px;
  padding: 0px 8px;
  margin-left: 640px;
}
.znachok3{
  margin-top: -244px;
  font-size: 65px;
}
.for{
  margin-top: 100px;
  width: 300px;
  color: black;
  font-size: 15px;
  padding: 0px 8px;
  margin-left: 950px;
}
.znachok4{
  margin-top: -244px;
  font-size: 65px;
}
.container4{
  padding: 128px 16px;
  background-color: #f1f1f1
}
.text5{
  padding: 0px 8px;
}
.text-button{
  color: #fff;
  background-color: #000;
  font-size: 15px;
  padding: 8px 16px;
}
.foto{
  margin-left: 550px;
  margin-top: -155px;
}
.container5{
  color: #000;
  padding: 128px 16px;
}
.text6{
  text-align: center;
}
.pone{
  opacity: 0.60;
}
.pone1{
  width: 15%;
  font-size: 15px;
  margin: 15px 0px;
}
.button-contact{
  font-size: 100px;
  border: none;
  padding: 8px 16px;
}
.container6{
  margin: 0px 0px 16px;
}

/* dalshe2 */
.container7{
  color: #fff;
  font-size: 15px;
  background-color: #616161;
  padding: 64px 16px;
}

.quarter{
  width: 24.99999%;
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.xxlarge{
  font-size: 36px;
  color: #fff;
  
}