* {
    padding: 0%;
    margin: 0%;
}

.backround {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url(./background.png);
}

.box {
    font-size: 20px;
    display: flex;
    padding: 15px 135px;
}

nav ul {
    margin-top: 5px;
    margin-left: 600px;
    gap: 10px;
    display: flex;
}

nav ul li {
    list-style-type: none;
}
.all{

    width: 100%;
    height: 80vh;
}
.texts{
    width: 50%;
    height: 30vh;
    padding: 200px 120px;
}
.contayner{
    display: flex;
}
.text{
    font-size: 25px;
    width: 480px;
}
.button{
    background-color: #fff;
    gap: 5px;
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 10vh;
}
.img{
    position: relative;
    width: 40%;
    height: 60vh;
    margin-top: 150px;
    background-image: url(./Back\ image\ shape.png);
}
.foto{
    position: absolute;
    top: 500px;
    right: 120px;
    height: 100%;
    background-image: url(./doktor.png);

}